.input-field,
.text-area {
  min-width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  outline: none;
  height: 40px;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  box-shadow: none;
  padding: 10px;
}

.text-area {
  min-height: 120px;
}

.button-black {
  color: #fafafa;
  background-color: black;
  font-size: 14px;
  border-radius: 5px;
  min-width: 100%;
  padding: 10px 0;
  border: none;
  font-weight: 600;
  transition: background-color 300ms ease-in-out;
}

.button-black:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
}

.search-icon {
  margin-right: 20px;
}
